.input {
  border: 2px dotted red;
  margin-top: 4px;
  padding: 10px;
  border-radius: 10px;
}

.btn {
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}
::type {
  color: red;
}
